body {
    margin: 0 !important;
    padding: 0 !important;

}

/*navbar*/
.navbar {
    background-color: #333 !important;
    border-bottom: 1px solid black !important;
}

.navbar-nav {
    margin: auto !important;
}

.navbar-brand {
    font-weight: bold !important;
    font-size: 1.5em !important;
}

.nav-link {
    color: white !important;
    font-size: 1.0em !important;
    letter-spacing: 2px !important;
}

footer {
    background-color: #333 !important;
    border-top: 2px solid black !important;
    color: white !important;
    text-align: center !important;
    padding: 0.4em !important;
    font-size: 0.8rem;
}